#test {
    font-family: 'Comic Sans MS';
    color: pink;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: lightpink;
}
body{
    background-color: #222222;
}
#linkcolor {
    color: pink;
}
#wiplinkcolor {
    color: pink;
}
#whiteoutline {
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: pink;
}